---
- name: Execute following with sudo
  become: true
  block:
    - name: Install mdns packages needed for Debian Based OS
      ansible.builtin.apt:
        name:
          - systemd-resolved
          - avahi-daemon

    - name: Allow mDNS on ufw
      community.general.ufw:
        rule: allow
        port: '5353'
        proto: "{{ item }}"
      loop:
        - udp
        - tcp
