---
# tasks file for ./roles/mdns
- name: Execute task file if it is RedHat-based OS
  when: ansible_os_family == 'RedHat'
  ansible.builtin.include_tasks:
    file: _redhat.yml

- name: Execute task file if it is Debian-based OS
  when: ansible_os_family == 'Debian'
  ansible.builtin.include_tasks:
    file: _debian.yml

- name: Execute following with sudo
  become: true
  block:
    - name: Create directory for changing systemd default configuration
      ansible.builtin.file:
        path: /etc/systemd/resolved.conf.d
        mode: '0755'
        state: directory

    - name: Override default systemd service configuration
      ansible.builtin.copy:
        content: |
          [Resolve]
          MulticastDNS=yes
        dest: /etc/systemd/resolved.conf.d/override.conf
        mode: '0644'

    - name: Restart and enable systemd-resolved
      when: ansible_os_family == 'Debian'
      ansible.builtin.systemd_service:
        name: systemd-resolved
        daemon_reload: true
        enabled: true
        state: restarted
