---
# tasks file for extra
- name: Install tmux
  become: true
  ansible.builtin.package:
    name: tmux

- name: Create tmux.conf file
  ansible.builtin.copy:
    src: tmux.conf
    dest: "{{ ansible_user_dir }}/.tmux.conf"
    mode: '0644'
    backup: true

- name: Specific install for Debian based OS
  when: ansible_os_family == 'Debian'
  become: true
  block:
    - name: Install micro text editor
      ansible.builtin.apt:
        name: micro
      notify:
        - Change default text editor to micro
        - Keep 'SYSTEMD_EDITOR' when using sudo

    - name: Install lsd cli
      ansible.builtin.apt:
        name: lsd

    - name: Install following packages on all server
      ansible.builtin.apt:
        name: bat
      notify: Create alias if 'bat' cli is installed
