---
# tasks file for extra
- name: Install tmux
  become: true
  ansible.builtin.package:
    name: tmux

- name: Setup tmux and tpm
  block:
    - name: Setup tmux config directory
      ansible.builtin.file:
        path: "{{ ansible_user_dir }}/.config/tmux"
        state: directory
        mode: '0755'

    - name: Git clone tpm repo
      ansible.builtin.git:
        repo: 'https://github.com/tmux-plugins/tpm.git'
        dest: "{{ ansible_user_dir }}/.tmux/plugins/tpm"
        version: master
        single_branch: true
        depth: 1
        update: false

    - name: Create tmux.conf file
      ansible.builtin.copy:
        src: tmux.conf
        dest: "{{ ansible_user_dir }}/.config/tmux/tmux.conf"
        mode: '0644'
        backup: true

- name: Keep environment variables when using sudo
  become: true
  ansible.builtin.copy:
    content: 'Defaults env_keep += "SYSTEMD_EDITOR EDITOR"'
    dest: /etc/sudoers.d/env_keep
    mode: '0644'

- name: Specific install for Debian based OS
  when: ansible_os_family == 'Debian'
  become: true
  block:
    - name: Install micro text editor
      ansible.builtin.apt:
        name: micro

    - name: Install lsd cli
      ansible.builtin.apt:
        name: lsd

    - name: Install following packages on all server
      ansible.builtin.apt:
        name: bat
      notify: Create alias if 'bat' cli is installed
