---
# tasks file for extra
- name: Install tmux
  become: true
  ansible.builtin.package:
    name: tmux

- name: Create tmux.conf file
  ansible.builtin.copy:
    src: tmux.conf
    dest: "{{ ansible_user_dir }}/.tmux.conf"
    mode: '0644'
    backup: true

- name: Enable and use repository on RHEL based OS
  when: ansible_os_family == 'RedHat'
  become: true
  block:
    - name: Ensure the crb repository is enabled
      community.general.dnf_config_manager:
        name: crb
        state: enabled

    - name: Enable Extra Packages for Enterprise Linux
      vars:
        base_epel: https://dl.fedoraproject.org/pub/epel
        base_version: "{{ ansible_distribution_major_version | int }}"
      ansible.builtin.dnf:
        name: "{{ base_epel }}/epel-release-latest-{{ base_version }}.noarch.rpm"
        disable_gpg_check: true

- name: Specific install for Debian based OS
  when: ansible_os_family == 'Debian'
  become: true
  block:
    - name: Install micro text editor
      ansible.builtin.apt:
        name: micro
      notify:
        - Change default text editor to micro
        - Keep 'SYSTEMD_EDITOR' when using sudo

    - name: Install lsd cli
      ansible.builtin.apt:
        name: lsd

    - name: Install following packages on all server
      ansible.builtin.apt:
        name: bat
      notify: Create alias if 'bat' cli is installed
