---
- name: Reload systemd daemon
  become: true
  ansible.builtin.systemd:
    daemon_reload: true

- name: Enable and restart sshd.service
  become: true
  ansible.builtin.systemd:
    name: sshd.service
    state: restarted
    enabled: true

- name: Change default text editor to micro
  become: true
  community.general.alternativess:
    name: editor
    path: /usr/bin/micro

- name: Create alias if 'bat' cli is installed
  when: ansible_os_family == 'Debian'
  ansible.builtin.lineinfile:
    path: "{{ ansible_user_dir }}/.bashrc"
    regexp: '^alias bat='
    line: 'alias bat="batcat"'
    backup: true
