---
- name: Reload systemd daemon
  become: true
  ansible.builtin.systemd:
    daemon_reload: true

- name: Enable and restart sshd.service
  become: true
  ansible.builtin.systemd:
    name: sshd.service
    state: restarted
    enabled: true
