---
- name: Execute following tasks with sudo
  become: true
  block:
    - name: Install dnf-automatic
      ansible.builtin.dnf:
        name: dnf-automatic

    - name: Configure dnf automatic.conf
      community.general.ini_file:
        path: /etc/dnf/automatic.conf
        section: commands
        option: reboot
        value: when-changed
        backup: true
        mode: '0644'

    - name: Enable dnf-automatic timer
      ansible.builtin.systemd:
        name: dnf-automatic.timer
        state: restarted
        enabled: true
