---
- name: Execute following tasks with sudo
  become: true
  notify:
    - Enable and restart dnf-automatic timer
  block:
    - name: Install dnf-automatic
      ansible.builtin.dnf:
        name: dnf-automatic

    - name: Configure dnf automatic.conf
      community.general.ini_file:
        path: /etc/dnf/automatic.conf
        section: commands
        option: reboot
        value: when-changed
        backup: true
        mode: '0644'
