---
# tasks file for base
- name: Install following packages on all server
  become: true
  ansible.builtin.package:
    name:
      - sudo
      - git
      - curl
      - tree

- name: Install and enable sshd.service
  become: true
  ansible.builtin.package:
    name: openssh-server
  notify: Enable and restart sshd.service
