---
# tasks file for base
- name: Install following packages on all server
  become: true
  ansible.builtin.package:
    name:
      - sudo
      - git
      - curl
      - tree

- name: Install and enable sshd.service
  become: true
  ansible.builtin.package:
    name: openssh-server
  notify: Enable and restart sshd.service

- name: Setup firewall rule on RedHat based OS
  become: true
  block:
    - name: Enable ssh on firewall-cmd
      when:
        - base_firewall_check.rc == 0
        - base_firewall_check.stdout | length > 1
      ansible.posix.firewalld:
        service: ssh
        state: enabled
        permanent: true
        immediate: true

- name: Setup firewall rule on Debian based OS
  become: true
  block:
    - name: Check if ufw is installed
      failed_when: false
      changed_when: false
      ansible.builtin.command:
        cmd: command -v ufw
      register: base_firewall_check

    - name: Allow OpenSSH on ufw
      when: base_firewall_check.rc == 0
      community.general.ufw:
        rule: allow
        name: OpenSSH

- name: Enable and use repository on RHEL based OS
  when: ansible_os_family == 'RedHat'
  become: true
  block:
    - name: Ensure the crb repository is enabled
      community.general.dnf_config_manager:
        name: crb
        state: enabled

    - name: Enable Extra Packages for Enterprise Linux
      vars:
        base_epel: https://dl.fedoraproject.org/pub/epel
        base_version: "{{ ansible_distribution_major_version | int }}"
      ansible.builtin.dnf:
        name:
          - "{{ base_epel }}/epel-release-latest-{{ base_version }}.noarch.rpm"
          - epel-release
        disable_gpg_check: true
