---
# tasks file for base
- name: Install following packages on all server
  become: true
  ansible.builtin.package:
    name:
      - sudo
      - git
      - curl
      - tree

- name: Install and enable sshd.service
  become: true
  ansible.builtin.package:
    name: openssh-server
  notify: Enable and restart sshd.service

- name: Enable ssh on firewall-cmd on RedHat based OS
  when: ansible_facts['family'] == 'RedHat'
  become: true
  ansible.posix.firewalld:
    service: ssh
    state: enabled
    permanent: true
    immediate: true

- name: Setup firewall rule on Debian based OS
  when: ansible_facts['family'] == 'Debian'
  become: true
  block:
    - name: Ensure firewall is installed on Debian server
      ansible.builtin.apt:
        name: ufw

    - name: Allow OpenSSH on ufw
      community.general.ufw:
        rule: allow
        name: OpenSSH
        state: enabled

- name: Enable and use repository on RHEL based OS
  when: ansible_os_family == 'RedHat'
  become: true
  block:
    - name: Ensure the crb repository is enabled
      community.general.dnf_config_manager:
        name: crb
        state: enabled

    - name: Enable Extra Packages for Enterprise Linux
      vars:
        base_epel: https://dl.fedoraproject.org/pub/epel
        base_version: "{{ ansible_distribution_major_version | int }}"
      ansible.builtin.dnf:
        name:
          - "{{ base_epel }}/epel-release-latest-{{ base_version }}.noarch.rpm"
          - epel-release
        disable_gpg_check: true
