---
# tasks file for base
- name: Install following packages on all server
  become: true
  ansible.builtin.package:
    name:
      - sudo
      - git
      - curl
      - tree

- name: Install and enable sshd.service
  become: true
  ansible.builtin.package:
    name: openssh-server
  notify:
    - Reload systemd daemon
    - Enable and restart sshd.service

- name: Install following packages on all server
  become: true
  ansible.builtin.package:
    name: bat
  notify:
    - Create alias if 'bat' cli is installed

- name: Install tmux
  become: true
  ansible.builtin.package:
    name: tmux

- name: Create tmux.conf file
  ansible.builtin.copy:
    src: tmux.conf
    dest: "{{ ansible_user_dir }}/.tmux.conf"
    mode: '0644'
    backup: true

- name: Install EPEL for RedHat based OS
  become: true
  ansible.builtin.dnf:
    name: epel-release


- name: Specific install for Debian based OS
  when: ansible_os_family == 'Debian'
  become: true
  block:
    - name: Install micro text editor
      ansible.builtin.apt:
        name: micro
      notify:
        - Change 'EDITOR' variable in environment file

    - name: Install lsd cli
      ansible.builtin.apt:
        name: lsd

