---
# roles/extras/handlers/
- name: Create alias if 'bat' cli is installed
  ansible.builtin.lineinfile:
    path: "{{ ansible_user_dir }}/.bashrc"
    regexp: '^alias bat='
    line: 'alias bat="batcat"'
    backup: true
