---
- name: Execute roles on server
  hosts: all
  vars_prompt:
    - name: ansible_become_pass
      prompt: "BECOME password"

  roles:
    - role: ansi_colle.server.base
      tags: base
    - role: ansi_colle.server.auto_update
      tags: auto_update
    - role: ansi_colle.server.podman
      tags: podman
    - role: ansi_colle.server.mdns
      tags: mdns
